<div class="panel">
    <div class="message"
         [ngClass]="{'self': message.userName === userName}"
         *ngFor="let message of messages">
        <div class="content">
            <img [src]="message.avatar" alt="">
            <span>
                <span class="user-name">{{message.userName}}</span>
                <br>
                {{message.text}}
            </span>
        </div>
    </div>
</div>
<div class="footer">
    <form [formGroup]="form">
        <textarea formControlName="text"></textarea>
    </form>
    <button (click)="sendChatMessage()">+</button>
</div>